@page
@model InvoiceModel
@{ }


<div class="row">
    <div class="col-md-8">
        <span class="badge bg-blue" style="width: fit-content; height: fit-content;">PAID</span>
        <label>Bill</label>
        <div class="row">
            <div class="col-md-10">
                @Html.TextBox("staticText", "", new { @id = "staticText", @autocomplete = "off", @class = "form-control col-md-10", placeholder = "Please find attached your invoice. Thank you for timely payment", @readonly = "True" })
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <img src="@Url.Content("~/images/freelancerLogo.png")" id="imgLogo" alt="tbd" style="width: 230px; height: 150px" />
    </div>
</div>

<div class="row">
    <div class="col-4">
        <b>Invoice. No</b>
        <div class="col-auto">
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">#</div>
                </div>
                <input type="text" class="form-control" id="txtInvNo" placeholder="Invoice">
            </div>
        </div>
    </div>

    <div class="col-4">
        <b>Language</b>
        <div class="dropdown">
            @Html.DropDownList("cboLanguage", new SelectList(new[] { "" }),
                     new { @class = "btn btn-secondary dropdown-toggle form-control" })
        </div>
    </div>
    <div class="col-4">
        <b>Currency</b>
        <div class="dropdown">
            @Html.DropDownList("cboCurrency", new SelectList(new[] { "" }),
                          new { @class = "btn btn-secondary dropdown-toggle form-control" })
        </div>
    </div>
</div>

<hr />




<div class="row">
    <div class="col-4 themed-grid-col">
        <div class="col-2"><b>From</b></div>
        <div class="col-md-10">
            <textarea id="txtAddressFrom" type="search" class="form-control" style="min-width: 100%; height: 118px;"></textarea>
            <span id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4 themed-grid-col">
        <b>Date</b>
        <div class="form-group input-group-sm">
            <input type="text" id="txtSelectedDate" name="SelectedDate" class="form-control" />
        </div>
        <b>Invoice Due</b>
        <div class="form-group input-group-sm">
            @Html.DropDownList("cboInvoice", new SelectList(new[] { "" }),
                new { @class = "btn btn-secondary dropdown-toggle form-control" })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4 themed-grid-col">
        <div class="col-2"><b>To</b></div>
        <div class="col-md-10">
            @Html.DropDownList("cboCustomer", new SelectList(new[] { "" }),
                new { @class = "btn btn-secondary dropdown-toggle form-control" })
            @Html.Label("lblAddresTo", "", new { @id = "lblAddresTo" })
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col-4 themed-grid-col">
        <b>Purchase Order Number</b>
        <div class="form-group input-group-sm">
            <input type="text" id="txtInvoicePopUP" name="invPopUp" class="form-control" onclick="$('#exampleModalCenter').modal('show');" />
        </div>
    </div>
</div>

<hr />

<div class="row">
    <fieldset>
        <table id="detailTable" class="table ">

            <tr>
                <td><b>Name     </b></td>
                <td><b>Quantity </b></td>
                <td><b>Rate     </b></td>
                <td><b>Amount   </b></td>
            </tr>


            <tr id="tablerow0">
                <td>
                    <div class="editor-field">
                        <div id="editor0"></div>
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" id="txtTbl_Qty[0]" type="text" value="" required="required" onkeypress="this.value=numberFormat(this.value);" />
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line" id="txtTbl_Rate[0]" type="text" value="" required="required" />
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        <input class="text-box single-line number" name="txtTbl_Amount[0]" type="text" value="" required="required" onkeypress="this.value=numberFormat(this.value);" />
                    </div>
                </td>
            </tr>

        </table>

        <div class="row">
            <div class="col-8 themed-grid-col">
                <button id="add" type="button" class="btn btn-primary">Add</button>
            </div>
            <div class="col-2">Sub Total</div>
            <div class="col-2" themed-grid-col">
                <div class="form-group input-group-sm" style="text-align: right;">
                    <label id="lblsubTotal">0</label>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-8">
            </div>
            <div class="col-4">
                <hr />
            </div>
        </div>


        <div class="row">
            <div class="col-8 themed-grid-col">

            </div>
            <div class="col-2">Sub Total</div>
            <div class="col-2" themed-grid-col">
                <div class="form-group input-group-sm" style="text-align: right;">
                    <label id="lblDiscount">0</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
            </div>
            <div class="col-4">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-8 themed-grid-col">

            </div>
            <div class="col-2"><b>Total<label id="lblCurrencyInitial"></label></b></div>
            <div class="col-2" themed-grid-col">
                <div class="form-group input-group-sm" style="text-align: right;">
                    <label id="lblTotalAll">0</label>
                </div>
            </div>
        </div>


        <hr />


    </fieldset>
</div>

<p>
    <input type="submit" id="btnSave" value="Save" class="btn btn-primary" />
</p>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <fieldset>
                        <table id="detailTablePOSelect" class="table ">

                            <tr>
                                <td><b>Select     </b></td>
                                <td><b>PO_Number </b></td>
                                <td><b>Amount   </b></td>
                            </tr>


                            <tr id="tablerow0">
                                <td>
                                    <div class="editor-field">
                                        select
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.Label("lbl_Modal_PO_Number", "", new { @id = "lbl_Modal_PO_Number" })
                                    </div>
                                </td>
                                <td>
                                    <div class="editor-field">
                                        @Html.Label("lbl_Modal_Amount", "", new { @id = "lbl_Modal_Amount" })
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#exampleModalCenter').modal('hide');">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">

    var strImageLogo = '';

    ClassicEditor
        .create(document.querySelector('#editor0'))
        .catch(error => {
            console.error(error);
        });


    // end of price text-box allow numeric and allow 2 decimal points only
    function numberFormat(nr) {
        //remove the existing ,
        var regex = /,/g;
        nr = nr.replace(regex, '');
        //force it to be a string
        nr += '';
        //split it into 2 parts  (for numbers with decimals, ex: 125.05125)
        var x = nr.split('.');
        var p1 = x[0];
        var p2 = x.length > 1 ? '.' + x[1] : '';
        //match groups of 3 numbers (0-9) and add , between them
        regex = /(\d+)(\d{3})/;
        while (regex.test(p1)) {
            p1 = p1.replace(regex, '$1' + ',' + '$2');
        }
        //join the 2 parts and return the formatted number
        return p1 + p2;
    }

    //Data Load from back

    function poNumberLoad() {

        $.ajax({
            type: "GET",
            url: "http://localhost:4000/api/po",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {


            },
            failure: function (response) {
                alert(response);
            }
        });

    }

    function loadCboInvoice() {

    }

    Date.prototype.addDays = function (days) {
        var date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
    }

    function getDates(startDate, stopDate) {
        var dateArray = new Array();
        var currentDate = startDate;
        while (currentDate <= stopDate) {
            dateArray.push(new Date(currentDate));
            currentDate = currentDate.addDays(1);
        }
        return dateArray;
    }

    function loadDateToList() {
        var min = new Date();
        var max = new Date(min.getFullYear(), min.getMonth(), min.getDate() + 3);
        var available = {};
        var available_arr = [];

        //alert(min);

        available = getDates(min, max);


        $("#cboInvoice").empty();
        $.each(available, function () {
            //console.log(dateFormat(this, "yyyy-mm-dd"));
            var clause = '';
            if (dateFormat(this, "yyyy-mm-dd") == dateFormat(min, "yyyy-mm-dd")) {
                clause = 'immediately';
            } else {
                clause = dateFormat(this, "yyyy-mm-dd");
            }

            $("#cboInvoice").append($("<option></option>").val(dateFormat(this, "yyyy-mm-dd")).html(clause));
        });

    }


    $('#txtSelectedDate').datepicker({
        dateFormat: 'yy-mm-dd',
        minDate: 0
    });

    if ($("#txtSelectedDate").val() == '') {
        $("#txtSelectedDate").datepicker().datepicker("setDate", new Date());
    }


    function langLoad() {

        $.ajax({
            type: "GET",
            url: "http://localhost:4000/api/language",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#cboLanguage").empty();
                $.each(data, function () {
                    $("#cboLanguage").append($("<option></option>").val(this['Initial']).html(this['Description']));
                });
            },
            failure: function (response) {
                alert(response);
            }
        });

    }

    function currencyLoad() {
        $.ajax({
            type: "GET",
            url: "http://localhost:4000/api/currency",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#cboCurrency").empty();
                $.each(data, function () {
                    $("#cboCurrency").append($("<option></option>").val(this['Currency_ID']).html(this['Description']));
                });
            },
            failure: function (response) {
                alert(response);
            }
        });
    }

    function customerLoad() {
        $.ajax({
            type: "GET",
            url: "http://localhost:4000/api/customer",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#cboCustomer").empty();
                $.each(data, function () {
                    $("#cboCustomer").append($("<option></option>").val(this['Customer_ID'] + '_' + this['Customer_Company']).html(this['Customer_Name']));
                });
            },
            failure: function (response) {
                alert(response);
            }
        });
    }

    function poDetailLoad() {
        $.ajax({
            type: "GET",
            url: "http://localhost:4000/api/poDetail",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert(JSON.stringify(data));
                var obj = JSON.stringify(data);

                $.each(data, function () {


                    $('#cboCustomer').val(this['Name_Customer']);

                    $('#lblsubTotal').val(this['SubTotal']);
                    $('#lblDiscount').val(this['Discount']);
                    $('#lblCurrencyInitial').val(this['PO_Number']);
                    $('#lblTotalAll').val(this['Total']);

                });
            },
            failure: function (response) {
                alert(response);
            }
        });
    }

    function poHeaderLoad() {

        var header = {}

        //dummy
        header.PO_H_ID = "FF358791-9947-4EAD-BB00-0738AD3CD674";

        $.ajax({
            type: "GET",
            url: "http://localhost:4000/api/poHeader/GetSelected",
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {


                var obj = JSON.stringify(data);

                alert(obj);

                $('#txtInvNo').val(data[0]['Inv_Number']);
                $('#txtAddressFrom').val(data[0]['Addr_From']);
                $('#lblAddresTo').text(data[0]['Addr_To']);

                $('#txtSelectedDate').val(data[0]['Date']);

                $('#cboInvoice').val(data[0]['InvoiceDue']);
                $('#cboLanguage').val(data[0]['LangInitial_ID']);
                $('#cboCurrency').val(data[0]['CurrInitial_ID']);

                $('#txtInvoicePopUP').val(data[0]['PO_Number']);
            },
            failure: function (response) {
                alert(response);
            }
        });
    }



    function saveDataHeader() {

        var header = {}

        //Param untuk update
        if ($('PO_H_ID').val() != '') {
            header.PO_H_ID = $('PO_H_ID').val();
        }

        header.Currency_ID = $('#cboCurrency').val();
        header.Addr_From = $('#txtAddressFrom').val();
        header.Addr_To = $('#lblAddresTo').text();
        header.Date = $('#txtSelectedDate').val();
        header.InvoiceDue = $('#cboInvoice').select().val();
        header.PO_Number = $('#txtInvoicePopUP').val();
        header.Inv_Number = $('#txtInvNo').val();
        header.Logo = strImageLogo;
        header.Language_ID = $('#cboLanguage').val();
        header.Name_Customer = $('#cboCustomer').val();


        $.ajax({
            type: "POST",
            url: "http://localhost:4000/api/PoHeader",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(header),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var resData = response;

                if (resData['message'] != 'Unauthorized') {
                    //alert(resData['message']);
                    saveDataDetail(resData['respoutGUID']);
                }

            },
            failure: function (response) {
                alert(response);
            }
        });
    }


    function saveDataDetail(PO_H_ID) {

        var detail = {}

        //Param untuk update
        if ($('PO_H_ID').val() != '') {
            header.PO_H_ID = $('PO_H_ID').val();
        } else {
            header.PO_H_ID = PO_H_ID;
        }

        detail.SubTotal = $('#lblsubTotal').text();
        detail.Discount_Name = $('#txtAddressFrom').val();
        detail.Discount = $('#lblAddresTo').text();
        detail.Total = $('#txtSelectedDate').val();

        $.ajax({
            type: "POST",
            url: "http://localhost:4000/api/PoDetail",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: JSON.stringify(header),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var resData = response;

                if (resData['message'] != 'Unauthorized') {
                    alert(resData['message']);
                }

            },
            failure: function (response) {
                alert(response);
            }
        });
    }


    //


    $(document).ready(function () {



        loadDateToList();
        currencyLoad();
        customerLoad();
        langLoad();

        poHeaderLoad();
        poDetailLoad();
    });




    var counter = 1;

    $(function () {
        $('#add').click(function () {
            $('<tr id="tablerow' + counter + '"><td>' +
                '<div id="editor' + counter + '"></div>' +
                '<script>' +
                ' ClassicEditor ' +
                ' .create(document.querySelector(' + '\'#editor' + counter + '\')) ' +
                ' .catch(error => { ' +
                ' console.error(error); ' +
                ' }); ' +
                ' </\script> ' +
                '</td>' +
                '<td>' +
                '<input type="text" class="text-box single-line" id="txtTbl_Qty[' + counter + ']" value="" required="required" onkeypress="this.value=numberFormat(this.value);"/>' +
                '</td>' +
                '<td>' +
                '<input type="text" class="text-box single-line" id="txtTbl_Rate[' + counter + ']" value="" required="required" />' +
                '</td>' +
                '<td>' +
                '<input type="text" class="text-box single-line" id="txtTbl_Amount[' + counter + ']" value="" required="required" onkeypress="this.value=numberFormat(this.value);"/>' +
                '</td>' +
                '<td>' +
                '<button type="button" class="btn btn-primary" onclick="removeTr(' + counter + ');">Delete</button>' +
                '</td>' +
                '</tr>').appendTo('#detailTable');
            counter++;
            return false;
        });



        $("#cboCustomer").change(function () {
            var e = jQuery.makeArray($('#cboCustomer').val().split('_'));

            $('#imgLogo').prop('src', '/images/' + e[1] + 'Logo' + '.png');

            strImageLogo = e[1] + 'Logo' + '.png';
        });

    });

    function removeTr(index) {
        if (counter > 1) {
            $('#tablerow' + index).remove();
            counter--;
        }
        return false;
    }

    $("#searchclear").click(function () {
        $("#searchinput").val('');
    });

    $('#myModal').on('hidden.bs.modal', function (e) {
        // do something...
    })

    $('#btnSave').click(function () {
        saveDataHeader();
    });

</script>
